<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
 
<html> 
	<head> 
		<title>{% block title %}SECCONFDB{% endblock %}</title> 
		<link href="/static/secconfdb.css" rel="stylesheet" type="text/css"/> 
	</head> 
 
 
	<body> 
		<div id="header">
			<h1>securityconferences.net</h1> 
			<h2>{{ self.title() }}</h2>
		</div>
 
		<div id="content"> 
			{% block content %}{% endblock %}
		</div>

		<div id="footer">
			{% block footer %}
			<div id="copyright">
			&copy; Copyright {{ year }}
			<a href="mailto:jonathan.anderson@cl.cam.ac.uk">Jonathan Anderson</a>.
			{% endblock %}
			</div>
		</div>
	</body> 
</html> 

