<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
 
<html> 
	<head> 
		<title>{% block title %}SECCONFDB{% endblock %}</title> 
		<link href="/static/secconfdb.css" rel="stylesheet" type="text/css"/> 
		<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-24416555-1']);
_gaq.push(['_setDomainName', 'securityconferences.net']);
_gaq.push(['_setAllowHash', 'false']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script');
	ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ga, s);
})();
		</script>
	</head> 
 
 
	<body> 
		<div id="header">
			<h1>securityconferences.net</h1> 
			<h2>{{ self.title() }}</h2>
		</div>
 
		<div id="content"> 
			{% block content %}{% endblock %}
		</div>

		<div id="footer">
			{% block footer %}
			<div id="copyright">
			&copy; Copyright {{ year }}
			<a href="mailto:jonathan.anderson@cl.cam.ac.uk">Jonathan Anderson</a>.
			{% endblock %}
			</div>
		</div>
	</body> 
</html> 

