{% extends "base.html" %}
{% block title %}SECCONFDB{% endblock %}
{% block content %}

<div class="ical"> 
	<img align="left" src="static/vcalendar-small.png"/> 
	&#160;&#160;iCalendar format (no filters):
	<br/> 
	&#160;&#160;<a href="calendar.ics">conference dates</a> 
	|
	<a href="deadlines.ics">deadlines</a> 
</div> 
 
<div class="filters"> 
none (<a href="preferences.php#filters">change my filters</a>)
</div> 
 
<a name="deadlines"></a> 
<h2>Upcoming Deadlines</h2> 
 
<table class="conferences"> 
	<thead> 
		<tr> 
			<th colspan="2">Deadlines</th> 
			<th rowspan="2">Event</th> 
			<th rowspan="2">Date(s)</th> 
			<th rowspan="2">Location</th> 
		</tr> 
		<tr>			
			<th>Papers</th> 
			<th>Posters</th> 
		</tr> 
	</thead> 
	<tbody>
		{% for conference in conferences %}
			<tr>
				<td>{{ conference.format_deadline() }}</td>
				<td>{{ conference.format_deadline("poster") }}</td>
				<td>{{ conference.abbreviation }}</td>
				<td>{{ conference.when() }}</td>
				<td>{{ conference.where() }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<!--
	tbody> 
	
 
<tr> 
<td class="tooLate">2011-06-30</td> 
<td></td> 
<td><a href="conference?id=115">Malware</a></td> 
<td>18 - 19 Oct 2011 </td> 
<td><a href="http://www.malware2009.org/index.php?option=com_content&task=category&sectionid=3&id=18&Itemid=33" target="_blank">Fajardo, PR</a></td> 
</tr> 
<tr> 
<td class="tooLate">2011-07-02</td> 
<td></td> 
<td><a href="conference?id=63">WPES</a></td> 
<td>17 Oct 2011</td> 
<td><a href="http://wpes11.rutgers.edu/" target="_blank">Chicago, IL, US</a></td> 
</tr> 
<tr> 
<td class="tooLate">2011-02-10</td> 
<td class="reallySoon">2011-07-11</td> 
<td><a href="conference?id=9">USENIX-SEC</a></td> 
<td>10 - 12 Aug 2011 </td> 
<td>San Francisco, CA, US</td> 
</tr> 
<tr> 
<td class="reallySoon">2011-07-18</td> 
<td></td> 
<td><a href="conference?id=145">ASPLOS</a></td> 
<td>3 - 7 Mar 2012 </td> 
<td><a href="http://research.microsoft.com/en-us/um/cambridge/events/asplos_2012/" target="_blank">London, England, UK</a></td> 
</tr> 
<tr> 
<td class="reallySoon">2011-07-21</td> 
<td class="notSoon">2011-08-29</td> 
<td><a href="conference?id=51">APWG-EC</a></td> 
<td>7 - 9 Nov 2011 </td> 
<td><a href="http://www.ecrimeresearch.org/2011/" target="_blank">San Diego, CA, US</a></td> 
</tr> 
<tr> 
<td class="soon">2011-07-31</td> 
<td class="notSoon">2011-09-01</td> 
<td><a href="conference?id=43">NordSec</a></td> 
<td>26 - 28 Oct 2011 </td> 
<td><a href="http://nordsec2011.cyber.ee/" target="_blank">Tallinn, EE</a></td> 
</tr> 
<tr> 
<td class="notSoon">2011-08-09</td> 
<td></td> 
<td><a href="conference?id=13">NDSS</a></td> 
<td>5 Feb - 8 May 2012 </td> 
<td><a href="http://www.isoc.org/isoc/conferences/ndss/12/" target="_blank">San Diego, CA, US</a></td> 
</tr> 
<tr> 
<td class="tooLate">2011-03-11</td> 
<td class="notSoon">2011-08-12</td> 
<td><a href="conference?id=97">SOSP</a></td> 
<td>23 - 26 Oct 2011 </td> 
<td><a href="http://www.sigops.org/sosp/sosp11/" target="_blank">Cascais, PT</a></td> 
</tr> 
<tr> 
<td class="notSoon">2011-08-29</td> 
<td></td> 
<td><a href="conference?id=45">CT-RSA</a></td> 
<td>27 Feb - 2 Mar 2012 </td> 
<td><a href="http://ctrsa2012.cs.haifa.ac.il/" target="_blank">San Francisco, CA, US</a></td> 
</tr> 
<tr> 
<td class="tooLate">2011-06-06</td> 
<td class="notSoon">2011-09-02</td> 
<td><a href="conference?id=99">ACSAC</a></td> 
<td>5 - 9 Dec 2011 </td> 
<td><a href="http://acsac.org/2011" target="_blank">Orlando, FL, US</a></td> 
</tr> 
<tr> 
<td class="notSoon">2011-09-12</td> 
<td></td> 
<td><a href="conference?id=67">IEEE-WCNC</a></td> 
<td>1 - 4 Apr 2012 </td> 
<td><a href="http://www.ieee-wcnc.org/2012/" target="_blank">Paris, FR</a></td> 
</tr> 
<tr> 
<td class="notSoon">2011-09-15</td> 
<td></td> 
<td><a href="conference?id=57">IFIP-WG11.9</a></td> 
<td>3 - 5 Jan 2012 </td> 
<td>Pretoria, ZA</td> 
</tr> 
<tr> 
<td class="notSoon">2011-09-15</td> 
<td>2011-12-02</td> 
<td><a href="conference?id=15">FC</a></td> 
<td>27 Feb - 2 Mar 2012 </td> 
<td><a href="http://fc12.ifca.ai/" target="_blank">Bonaire, NL</a></td> 
</tr> 
<tr> 
<td class="notSoon">2011-09-20</td> 
<td></td> 
<td><a href="conference?id=77">EuroSys</a></td> 
<td>10 - 13 Apr 2012 </td> 
<td><a href="http://eurosys2012.unibe.ch/" target="_blank">Bern, CH</a></td> 
</tr> 
<tr> 
<td class="notSoon">2011-09-27</td> 
<td></td> 
<td><a href="conference?id=103">NSDI</a></td> 
<td>25 - 27 Apr 2012 </td> 
<td><a href="http://usenix.org/events/nsdi12/" target="_blank">San Jose, CA, US</a></td> 
</tr> 
<tr> 
<td>2011-11-17</td> 
<td></td> 
<td><a href="conference?id=71">FSE</a></td> 
<td>19 - 20 Mar 2012 </td> 
<td><a href="http://fse2012.inria.fr/" target="_blank">Washington, DC, US</a></td> 
</tr> 
<tr> 
<td>2011-12-19</td> 
<td></td> 
<td><a href="conference?id=135">BSDCan</a></td> 
<td>11 - 12 May 2012 </td> 
<td><a href="http://www.bsdcan.org/2012" target="_blank">Ottawa, ON, CA</a></td> 
</tr> 
<tr> 
<td>2012-02-05</td> 
<td></td> 
<td><a href="conference?id=65">ACNS</a></td> 
<td>26 - 29 Jun 2012 </td> 
<td><a href="http://icsd.i2r.a-star.edu.sg/acns2012/" target="_blank">Singapore, SG</a></td> 
</tr> 
	</tbody> 
</table> 
 
 
<a name="upcoming"></a> 
<h2>Upcoming Conferences</h2> 
 
<table class="conferences">			<thead>				<tr>					<th>Event</th> 
			<th>Date(s)</th> 
			<th>Location</th> 
			<th>URLs</th> 
		</tr> 
	</thead> 
	<tbody>				<tr> 
<td><a href="conference?id=41" target="_blank">SOUPS</a></td> 
<td>20 - 22 Jul 2011 </td> 
<td><a href="http://cups.cs.cmu.edu/soups/2011/" target="_blank">Pittsburgh, PA, US</a></td> 
<td><a href="http://cups.cs.cmu.edu/soups/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=141" target="_blank">VizSec</a></td> 
<td>20 Jul 2011</td> 
<td><a href="http://www.vizsec2011.org/" target="_blank">Pittsburgh, PA, US</a></td> 
<td><a href="http://www.vizsec.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=113" target="_blank">ASONAM</a></td> 
<td>25 - 27 Jul 2011 </td> 
<td><a href="http://asonam.im.nuk.edu.tw/" target="_blank">Kaohsiung, TW</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=23" target="_blank">PETS</a></td> 
<td>27 - 29 Jul 2011 </td> 
<td><a href="http://petsymposium.org/2011/" target="_blank">Waterloo, ON, CA</a></td> 
<td><a href="http://petsymposium.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=69" target="_blank">HotPETs</a></td> 
<td>27 - 29 Jul 2011 </td> 
<td><a href="http://petsymposium.org/2011" target="_blank">Waterloo, ON, CA</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=35" target="_blank">WOTE</a></td> 
<td>8 - 9 Aug 2011 </td> 
<td><a href="http://www.usenix.org/events/evtwote11" target="_blank">San Francisco, CA, US</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=123" target="_blank">CSET</a></td> 
<td>8 Aug 2011</td> 
<td><a href="https://db.usenix.org/events/cset11/" target="_blank">San Francisco, CA, US</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=147" target="_blank">FOCI</a></td> 
<td>8 Aug 2011</td> 
<td><a href="http://www.usenix.org/events/foci11/" target="_blank">San Francisco, CA, US</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=149" target="_blank">WOOT</a></td> 
<td>8 Aug 2011</td> 
<td><a href="http://www.usenix.org/events/woot11/" target="_blank">San Francisco, CA, US</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=117" target="_blank">HotSec</a></td> 
<td>9 Aug 2011</td> 
<td><a href="http://www.usenix.org/events/hotsec11/" target="_blank">San Francisco, CA, US</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=119" target="_blank">HealthSec</a></td> 
<td>9 Aug 2011</td> 
<td><a href="http://www.usenix.org/events/healthsec11/" target="_blank">San Francisco, CA, US</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=151" target="_blank">MetriCon</a></td> 
<td>9 Aug 2011</td> 
<td><a href="http://www.securitymetrics.org/" target="_blank">San Francisco, CA, US</a></td> 
<td><a href="http://www.securitymetrics.org" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=9" target="_blank">USENIX-SEC</a></td> 
<td>10 - 12 Aug 2011 </td> 
<td>San Francisco, CA, US</td> 
<td><a href="http://www.usenix.org/events/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=73" target="_blank">SAC</a></td> 
<td>11 - 12 Aug 2011 </td> 
<td><a href="http://sac2011.ryerson.ca/" target="_blank">Toronto, ON, CA</a></td> 
<td><a href="http://www.cacr.math.uwaterloo.ca/~dstinson/SACworkshops.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=17" target="_blank">CRYPTO</a></td> 
<td>14 - 18 Aug 2011 </td> 
<td><a href="http://www.iacr.org/conferences/crypto2011/" target="_blank">Santa Barbara, CA, US</a></td> 
<td><a href="http://www.iacr.org/conferences/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=87" target="_blank">SIGCOMM</a></td> 
<td>15 - 19 Aug 2011 </td> 
<td><a href="http://conferences.sigcomm.org/sigcomm/2011/" target="_blank">Toronto, ON, CA</a></td> 
<td><a href="http://conferences.sigcomm.org/sigcomm/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=143" target="_blank">SECURWARE</a></td> 
<td>21 - 27 Aug 2011 </td> 
<td><a href="http://www.iaria.org/conferences2011/SECURWARE11.html" target="_blank">Nice, FR</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=137" target="_blank">ExtremeCom</a></td> 
<td>26 - 30 Aug 2011 </td> 
<td><a href="http://extremecom.org/2011" target="_blank">Manaus, BR</a></td> 
<td><a href="http://extremecom.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=101" target="_blank">CEAS</a></td> 
<td>1 - 2 Sep 2011 </td> 
<td><a href="http://ceas2011.debii.edu.au/" target="_blank">Perth, AU</a></td> 
<td><a href="http://www.ceas.cc/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=37" target="_blank">SecureComm</a></td> 
<td>7 - 9 Sep 2011 </td> 
<td><a href="http://www.securecomm.org/2011/" target="_blank">London, England, UK</a></td> 
<td><a href="http://www.securecomm.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=91" target="_blank">NSPW</a></td> 
<td>12 - 15 Sep 2011 </td> 
<td><a href="http://www.nspw.org/2011" target="_blank">San Francisco, CA, US</a></td> 
<td><a href="http://www.nspw.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=27" target="_blank">ESORICS</a></td> 
<td>12 - 15 Sep 2011 </td> 
<td>Leuven, BE</td> 
<td><a href="http://www.laas.fr/~esorics/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=29" target="_blank">CHES</a></td> 
<td>25 - 28 Sep 2011 </td> 
<td><a href="http://www.chesworkshop.org/ches2011/" target="_blank">Tokyo, JP</a></td> 
<td><a href="http://www.chesworkshop.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=5" target="_blank">ACM-CCS</a></td> 
<td>17 - 21 Oct 2011 </td> 
<td><a href="http://www.sigsac.org/ccs/CCS2011" target="_blank">Chicago, IL, US</a></td> 
<td><a href="http://www.sigsac.org/ccs.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=63" target="_blank">WPES</a></td> 
<td>17 Oct 2011</td> 
<td><a href="http://wpes11.rutgers.edu/" target="_blank">Chicago, IL, US</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=115" target="_blank">Malware</a></td> 
<td>18 - 19 Oct 2011 </td> 
<td><a href="http://www.malware2009.org/index.php?option=com_content&task=category&sectionid=3&id=18&Itemid=33" target="_blank">Fajardo, PR</a></td> 
<td><a href="http://www.malware2009.org/index.php?option=com_docman&Itemid=53" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=97" target="_blank">SOSP</a></td> 
<td>23 - 26 Oct 2011 </td> 
<td><a href="http://www.sigops.org/sosp/sosp11/" target="_blank">Cascais, PT</a></td> 
<td><a href="http://www.sigops.org/sosp/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=43" target="_blank">NordSec</a></td> 
<td>26 - 28 Oct 2011 </td> 
<td><a href="http://nordsec2011.cyber.ee/" target="_blank">Tallinn, EE</a></td> 
<td><a href="http://www.cse.chalmers.se/research/group/security/nordsec/contents.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=51" target="_blank">APWG-EC</a></td> 
<td>7 - 9 Nov 2011 </td> 
<td><a href="http://www.ecrimeresearch.org/2011/" target="_blank">San Diego, CA, US</a></td> 
<td><a href="http://www.antiphishing.org/ecrimeresearch/index.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=109" target="_blank">IEEE-WIFS</a></td> 
<td>16 - 19 Nov 2011 </td> 
<td><a href="http://wifs11.org/" target="_blank">Foz do Iguaçu, BR</a></td> 
</tr> 
<tr> 
<td><a href="conference?id=131" target="_blank">ASIACRYPT</a></td> 
<td>4 - 8 Dec 2011 </td> 
<td><a href="http://cist.korea.ac.kr/~asiacrypt2011/" target="_blank">Seoul, KR</a></td> 
<td><a href="http://www.iacr.org/conferences/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=99" target="_blank">ACSAC</a></td> 
<td>5 - 9 Dec 2011 </td> 
<td><a href="http://acsac.org/2011" target="_blank">Orlando, FL, US</a></td> 
<td><a href="http://www.acsac.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=139" target="_blank">LAW</a></td> 
<td>5 - 9 Dec 2011 </td> 
<td><a href="http://www.acsac.org/2011/workshops/law/" target="_blank">Orlando, FL, US</a></td> 
<td><a href="http://fm.csl.sri.com/LAW/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=57" target="_blank">IFIP-WG11.9</a></td> 
<td>3 - 5 Jan 2012 </td> 
<td>Pretoria, ZA</td> 
<td><a href="http://www.ifip119.org/Conferences/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=13" target="_blank">NDSS</a></td> 
<td>5 Feb - 8 May 2012 </td> 
<td><a href="http://www.isoc.org/isoc/conferences/ndss/12/" target="_blank">San Diego, CA, US</a></td> 
<td><a href="http://www.isoc.org/isoc/conferences/ndss/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=45" target="_blank">CT-RSA</a></td> 
<td>27 Feb - 2 Mar 2012 </td> 
<td><a href="http://ctrsa2012.cs.haifa.ac.il/" target="_blank">San Francisco, CA, US</a></td> 
<td><a href="http://www.informatik.uni-trier.de/~ley/db/conf/ctrsa/index.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=15" target="_blank">FC</a></td> 
<td>27 Feb - 2 Mar 2012 </td> 
<td><a href="http://fc12.ifca.ai/" target="_blank">Bonaire, NL</a></td> 
<td><a href="http://www.ifca.ai/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=145" target="_blank">ASPLOS</a></td> 
<td>3 - 7 Mar 2012 </td> 
<td><a href="http://research.microsoft.com/en-us/um/cambridge/events/asplos_2012/" target="_blank">London, England, UK</a></td> 
<td><a href="http://www.sigplan.org/asplos.htm" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=71" target="_blank">FSE</a></td> 
<td>19 - 20 Mar 2012 </td> 
<td><a href="http://fse2012.inria.fr/" target="_blank">Washington, DC, US</a></td> 
<td><a href="http://www2.mat.dtu.dk/people/Lars.R.Knudsen/fse/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=67" target="_blank">IEEE-WCNC</a></td> 
<td>1 - 4 Apr 2012 </td> 
<td><a href="http://www.ieee-wcnc.org/2012/" target="_blank">Paris, FR</a></td> 
<td><a href="http://www.ieee-wcnc.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=77" target="_blank">EuroSys</a></td> 
<td>10 - 13 Apr 2012 </td> 
<td><a href="http://eurosys2012.unibe.ch/" target="_blank">Bern, CH</a></td> 
<td><a href="http://www.eurosys.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=103" target="_blank">NSDI</a></td> 
<td>25 - 27 Apr 2012 </td> 
<td><a href="http://usenix.org/events/nsdi12/" target="_blank">San Jose, CA, US</a></td> 
<td><a href="http://www.usenix.org/event/bytopic/nsdi.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=135" target="_blank">BSDCan</a></td> 
<td>11 - 12 May 2012 </td> 
<td><a href="http://www.bsdcan.org/2012" target="_blank">Ottawa, ON, CA</a></td> 
<td><a href="http://www.bsdcan.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=65" target="_blank">ACNS</a></td> 
<td>26 - 29 Jun 2012 </td> 
<td><a href="http://icsd.i2r.a-star.edu.sg/acns2012/" target="_blank">Singapore, SG</a></td> 
<td><a href="http://icsd.i2r.a-star.edu.sg/staff/jianying/acns_home/" target="_blank">permalink</a></td></tr> 
	</tbody> 
</table> 
 
 
<a name="recent"></a> 
<h2>Recent Conferences</h2> 
 
<table class="conferences">			<thead>				<tr>					<th>Event</th> 
			<th>Date(s)</th> 
			<th>Location</th> 
			<th>Proceedings</th> 
			<th>URLs</th> 
		</tr> 
	</thead> 
	<tbody>				<tr> 
<td><a href="conference?id=93">BCS-HCI</a></td> 
<td>4 - 8 Jul 2011 </td> 
<td><a href="http://hci2011.co.uk/" target="_blank">Newcastle Upon Tyne, UK</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Human-Computer Interaction&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.bcs-hci.org.uk/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=81">ASA</a></td> 
<td>30 Jun 2011</td> 
<td><a href="http://www.lsv.ens-cachan.fr/~steel/asa5/" target="_blank">Paris, FR</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Analysis of Security APIs&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://homepages.inf.ed.ac.uk/gsteel/asa/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=83">CSF</a></td> 
<td>27 - 29 Jun 2011 </td> 
<td><a href="http://csf2011.inria.fr/" target="_blank">Domaine de l'Abbaye des Vaux de Cernay, FR</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=IEEE Computer Security Foundations Symposium&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.ieee-security.org/CSFWweb/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=89">Trust</a></td> 
<td>22 - 24 Jun 2011 </td> 
<td><a href="http://www.trust2011.org/" target="_blank">Pittsburgh, PA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=International Conference on the Technical and Socio-Economic Aspects of Trusted Computing&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=47">SHB</a></td> 
<td>17 - 18 Jun 2011 </td> 
<td><a href="http://www.ini.cmu.edu/events/2011/06/shb.html" target="_blank">Pittsburgh, PA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Interdisciplinary Workshop on Security and Human Behaviour&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=95">USENIX</a></td> 
<td>15 - 17 Jun 2011 </td> 
<td><a href="https://db.usenix.org/events/atc11/" target="_blank">Portland, Oregon, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=USENIX Annual Technical Conference&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://usenix.org/events/byname/usenix.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=61">WEIS</a></td> 
<td>14 - 15 Jun 2011 </td> 
<td><a href="http://weis2011.econinfosec.org/" target="_blank">Arlington, VA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Workshop on the Economics of Information Security&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://econinfosec.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=49">WiSec</a></td> 
<td>14 - 17 Jun 2011 </td> 
<td><a href="http://www.sigsac.org/wisec/WiSec2011" target="_blank">Hamburg, DE</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=ACM Conference on Wireless Network Security&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.sigsac.org/wisec/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=53">IFIP-SEC</a></td> 
<td>7 - 9 Jun 2011 </td> 
<td><a href="http://sec2011.org/" target="_blank">Lucerne, CH</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=IFIP International Information Security Conference&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=65">ACNS</a></td> 
<td>7 - 10 Jun 2011 </td> 
<td><a href="http://www.isac.uma.es/acns2011/" target="_blank">Nerja, ES</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Applied Cryptography and Network Security&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://icsd.i2r.a-star.edu.sg/staff/jianying/acns_home/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=79">W2SP</a></td> 
<td>26 May 2011</td> 
<td><a href="http://w2spconf.com/2011" target="_blank">Oakland, CA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Web 2.0 Security and Privacy&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://w2spconf.com/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=7">IEEE-SP</a></td> 
<td>22 - 25 May 2011 </td> 
<td><a href="http://www.ieee-security.org/TC/SP2011/index.html" target="_blank">Oakland, CA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=IEEE Symposium on Security and Privacy&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.ieee-security.org/TC/SP-Index.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=25">InfoHiding</a></td> 
<td>18 - 20 May 2011 </td> 
<td><a href="http://www.ihconference.org/2011" target="_blank">Prague, CZ</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Information Hiding Workshop&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.ihconference.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=19">EUROCRYPT</a></td> 
<td>15 - 19 May 2011 </td> 
<td><a href="http://www.iacr.org/conferences/eurocrypt2011/" target="_blank">Tallinn, EE</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Eurocrypt&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.iacr.org/conferences/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=135">BSDCan</a></td> 
<td>13 - 14 May 2011 </td> 
<td><a href="http://www.bsdcan.org/2011" target="_blank">Ottawa, ON, CA</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=BSDCan&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.bsdcan.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=75">SNS</a></td> 
<td>10 Apr 2011</td> 
<td><a href="http://research.microsoft.com/en-us/projects/ldg/sns2011.aspx" target="_blank">Salzburg, AT</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Social Network Systems&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://sns.socialnetconf.com/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=77">EuroSys</a></td> 
<td>10 - 13 Apr 2011 </td> 
<td><a href="http://eurosys2011.cs.uni-salzburg.at/" target="_blank">Salzburg, AT</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=EuroSys&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.eurosys.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=107">EUROSEC</a></td> 
<td>10 Apr 2011</td> 
<td><a href="http://www.iseclab.org/eurosec-2011/" target="_blank">Salzburg, AT</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=European Workshop on System Security&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=133">SATIN</a></td> 
<td>4 - 5 Apr 2011 </td> 
<td>Teddington, UK</td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Securing and Trusting Internet Names&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://conferences.npl.co.uk/satin/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=103">NSDI</a></td> 
<td>30 Mar - 1 Apr 2011 </td> 
<td><a href="https://db.usenix.org/events/nsdi11/" target="_blank">Boston, MA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=USENIX Symposium on Networked Systems Design and Implementation&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.usenix.org/event/bytopic/nsdi.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=11">LEET</a></td> 
<td>29 Mar 2011</td> 
<td><a href="http://www.usenix.org/events/leet11/" target="_blank">Boston, MA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=USENIX Workshop on Large-Scale Exploits and Emergent Threats&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.usenix.org/events/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=31">SPW</a></td> 
<td>28 - 30 Mar 2011 </td> 
<td>Cambridge, England, UK</td> 
<td><a href="http://scholar.google.com/scholar?as_publication=International Workshop on Security Protocols&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://homepages.feis.herts.ac.uk/~spw/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=67">IEEE-WCNC</a></td> 
<td>28 - 31 Mar 2011 </td> 
<td><a href="http://www.ieee-wcnc.org/2011/" target="_blank">Cancun, MX</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=IEEE Wireless Communications & Networking Conference&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.ieee-wcnc.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=55">IFIP-WG11.10</a></td> 
<td>23 - 25 Mar 2011 </td> 
<td>Hanover,  NH, US</td> 
<td><a href="http://scholar.google.com/scholar?as_publication=IFIP Working Group 11.10 on Critical Infrastructure Protection&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://ifip1110.org/Conferences/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=39">ACM-SAC</a></td> 
<td>21 - 25 Mar 2011 </td> 
<td><a href="http://www.acm.org/conferences/sac/sac2011/" target="_blank">Taichung, TW</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=ACM Symposium on Applied Computing&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.acm.org/conferences/sac/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=145">ASPLOS</a></td> 
<td>5 - 11 Mar 2011 </td> 
<td><a href="http://asplos11.cs.ucr.edu/" target="_blank">Newport Beach, CA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Architectural Support for Programming Languages and Operating Systems&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.sigplan.org/asplos.htm" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=15">FC</a></td> 
<td>28 Feb - 4 Mar 2011 </td> 
<td><a href="http://www.ifca.ai/fc11/" target="_blank">Bay Gardens Beach Resort, LC</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Financial Cryptography&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.ifca.ai/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=45">CT-RSA</a></td> 
<td>14 - 18 Feb 2011 </td> 
<td><a href="http://ct-rsa2011.di.uoa.gr/" target="_blank">San Francisco, CA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=The Cryptographer's Track at RSA&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.informatik.uni-trier.de/~ley/db/conf/ctrsa/index.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=71">FSE</a></td> 
<td>14 - 16 Feb 2011 </td> 
<td><a href="http://fse2011.mat.dtu.dk/" target="_blank">Lyngby, DK</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Fast Software Encryption&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www2.mat.dtu.dk/people/Lars.R.Knudsen/fse/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=13">NDSS</a></td> 
<td>6 - 9 Feb 2011 </td> 
<td><a href="http://www.isoc.org/isoc/conferences/ndss/11/" target="_blank">San Diego, CA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Network and Distributed System Security Symposium&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.isoc.org/isoc/conferences/ndss/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=57">IFIP-WG11.9</a></td> 
<td>31 Jan - 2 Feb 2011 </td> 
<td>Orlando, FL, US</td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Conference on Digital Forensics&as_ylo=2011&as_yhi=2011" target="_blank">scholar.google.com</a></td><td><a href="http://www.ifip119.org/Conferences/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=33">CCC</a></td> 
<td>27 - 30 Dec 2010 </td> 
<td><a href="http://events.ccc.de/congress/2010" target="_blank">Berlin, DE</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Chaos Communication Congress&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://events.ccc.de/congress/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=109">IEEE-WIFS</a></td> 
<td>12 - 15 Dec 2010 </td> 
<td><a href="http://wifs10.org/" target="_blank">Seattle, WA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=IEEE Workshop on Information Forensics and Security&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=99">ACSAC</a></td> 
<td>6 - 10 Dec 2010 </td> 
<td><a href="http://www.acsac.org/2010/" target="_blank">Austin, TX, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Annual Computer Security Applications Conference&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.acsac.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=139">LAW</a></td> 
<td>6 - 7 Dec 2010 </td> 
<td><a href="http://fm.csl.sri.com/LAW/2010" target="_blank">Austin, TX, US</a></td> 
<td><a href="http://fm.csl.sri.com/LAW/2010" target="_blank">fm.csl.sri.com</a> | <a href="http://scholar.google.com/scholar?as_publication=Layered Assurance Workshop&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://fm.csl.sri.com/LAW/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=43">NordSec</a></td> 
<td>27 - 30 Oct 2010 </td> 
<td><a href="http://www.cse.tkk.fi/en/research/nordsec2010/" target="_blank">Espoo, FI</a></td> 
<td><a href="http://www.springerlink.com/content/978-3-642-04765-7/" target="_blank">www.springerlink.com</a> | <a href="http://scholar.google.com/scholar?as_publication=Nordic Workshop on Secure IT Systems&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.cse.chalmers.se/research/group/security/nordsec/contents.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=115">Malware</a></td> 
<td>20 - 21 Oct 2010 </td> 
<td><a href="http://malware10.loria.fr/" target="_blank">Nancy, FR</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Malware&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.malware2009.org/index.php?option=com_docman&Itemid=53" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=51">APWG-EC</a></td> 
<td>18 - 20 Oct 2010 </td> 
<td>Dallas, TX, US</td> 
<td><a href="http://scholar.google.com/scholar?as_publication=APWG eCrime Researchers Summit&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.antiphishing.org/ecrimeresearch/index.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=125">OSDI</a></td> 
<td>4 - 6 Oct 2010 </td> 
<td><a href="http://www.usenix.org/events/osdi10/" target="_blank">Vancouver, BC, CA</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=USENIX Symposium on Operating Systems Design and Implementation&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.usenix.org/events/bytopic/osdi.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=5">ACM-CCS</a></td> 
<td>4 - 8 Oct 2010 </td> 
<td><a href="http://www.sigsac.org/ccs/CCS2010/" target="_blank">Chicago, IL, US</a></td> 
<td><a href="http://portal.acm.org/citation.cfm?id=1866307&CFID=8863757&CFTOKEN=48384217" target="_blank">portal.acm.org</a> | <a href="http://scholar.google.com/scholar?as_publication=ACM Conference on Computer and Communications Security&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.sigsac.org/ccs.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=63">WPES</a></td> 
<td>4 Oct 2010</td> 
<td><a href="http://wpes10.csi.muohio.edu/" target="_blank">Chicago, IL, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Workshop on Privacy in the Electronic Society&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=127">NetEcon</a></td> 
<td>3 Oct 2010</td> 
<td><a href="http://www.usenix.org/events/netecon10/" target="_blank">Vancouver, BC, CA</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Workshop on the Economics of Networks, Systems, and Computation&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.usenix.org/events/byname/netecon.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=91">NSPW</a></td> 
<td>21 - 23 Sep 2010 </td> 
<td><a href="http://www.nspw.org/2010/" target="_blank">Concord, MA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=New Security Paradigms Workshop&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.nspw.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=27">ESORICS</a></td> 
<td>20 - 22 Sep 2010 </td> 
<td><a href="http://www.esorics2010.org/" target="_blank">Athens, GR</a></td> 
<td><a href="http://www.springer.com/computer/communication+networks/book/978-3-642-15496-6" target="_blank">www.springer.com</a> | <a href="http://scholar.google.com/scholar?as_publication=European Symposium on Research in Computer Security&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.laas.fr/~esorics/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=53">IFIP-SEC</a></td> 
<td>20 - 23 Sep 2010 </td> 
<td><a href="http://www.wcc2010.com/SEC2010" target="_blank">Brisbane, AU</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=IFIP International Information Security Conference&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=141">VizSec</a></td> 
<td>14 Sep 2010</td> 
<td><a href="http://vizsec2010.org/" target="_blank">Ottawa, ON, CA</a></td> 
<td><a href="http://portal.acm.org/toc.cfm?id=1850795" target="_blank">portal.acm.org</a> | <a href="http://scholar.google.com/scholar?as_publication=International Symposium on Visualization for Cyber Security&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.vizsec.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=37">SecureComm</a></td> 
<td>7 - 9 Sep 2010 </td> 
<td>Singapore, SG</td> 
<td><a href="http://scholar.google.com/scholar?as_publication=ICST Conference on Security and Privacy in Communication Networks&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.securecomm.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=93">BCS-HCI</a></td> 
<td>6 - 10 Sep 2010 </td> 
<td><a href="http://hci2010.abertay.ac.uk/" target="_blank">Dundee, Scotland, UK</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Human-Computer Interaction&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.bcs-hci.org.uk/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=129">PUMP</a></td> 
<td>6 Sep 2010</td> 
<td><a href="http://scone.cs.st-andrews.ac.uk/pump2010/" target="_blank">Dundee, Scotland, UK</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Privacy and Usability Methods Pow-wow&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=137">ExtremeCom</a></td> 
<td>4 - 10 Sep 2010 </td> 
<td><a href="http://extremecom.org/2010" target="_blank">Dharamsala, IN</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Extreme Workshop on Communication&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://extremecom.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=87">SIGCOMM</a></td> 
<td>30 Aug - 3 Sep 2010 </td> 
<td><a href="http://conferences.sigcomm.org/sigcomm/2010/" target="_blank">New Dehli, IN</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=ACM SIGCOMM&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://conferences.sigcomm.org/sigcomm/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=29">CHES</a></td> 
<td>18 - 20 Aug 2010 </td> 
<td><a href="http://www.chesworkshop.org/ches2010/" target="_blank">Santa Barbara, CA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Cryptographic Hardware and Embedded Systems&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.chesworkshop.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=17">CRYPTO</a></td> 
<td>15 - 19 Aug 2010 </td> 
<td><a href="http://www.iacr.org/conferences/crypto2010/" target="_blank">Santa Barbara, CA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Advances in Cryptology&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.iacr.org/conferences/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=73">SAC</a></td> 
<td>12 - 13 Aug 2010 </td> 
<td><a href="http://sac2010.uwaterloo.ca/" target="_blank">Waterloo, ON, CA</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Selected Areas in Cryptography&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.cacr.math.uwaterloo.ca/~dstinson/SACworkshops.html" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=117">HotSec</a></td> 
<td>10 Aug 2010</td> 
<td><a href="https://db.usenix.org/events/hotsec10/" target="_blank">Washington, DC, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=USENIX Workshop on Hot Topics in Security&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=119">HealthSec</a></td> 
<td>10 Aug 2010</td> 
<td><a href="https://db.usenix.org/events/healthsec10/" target="_blank">Washington, DC, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=USENIX Workshop on Health Security and Privacy&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=121">CollSec</a></td> 
<td>10 Aug 2010</td> 
<td><a href="https://db.usenix.org/events/collsec10/" target="_blank">Washington, DC, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Workshop on Collaborative Methods for Security and Privacy&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="https://db.usenix.org/events/collsec10/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=9">USENIX-SEC</a></td> 
<td>9 - 13 Aug 2010 </td> 
<td><a href="http://www.usenix.org/events/sec10/" target="_blank">Washington, DC, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=USENIX Security Symposium&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.usenix.org/events/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=35">WOTE</a></td> 
<td>9 - 10 Aug 2010 </td> 
<td><a href="https://db.usenix.org/events/evtwote10/" target="_blank">Washington, DC, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Workshop on Trustworthy Elections&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=123">CSET</a></td> 
<td>9 Aug 2010</td> 
<td><a href="https://db.usenix.org/events/cset10/" target="_blank">Washington, DC, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Workshop on Cyber Security Experimentation and Test &as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=113">ASONAM</a></td> 
<td>9 - 11 Aug 2010 </td> 
<td><a href="http://asonam2010.hau.gr/" target="_blank">Odense, DK</a></td> 
<td><a href="http://ieeexplore.ieee.org/xpl/tocresult.jsp?isnumber=5562740" target="_blank">ieeexplore.ieee.org</a> | <a href="http://scholar.google.com/scholar?as_publication=Advances in Social Networks Analysis and Mining&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=23">PETS</a></td> 
<td>21 - 23 Jul 2010 </td> 
<td><a href="http://petsymposium.org/2010/" target="_blank">Berlin, DE</a></td> 
<td><a href="http://www.springeronline.com/978-3-642-14526-1" target="_blank">www.springeronline.com</a> | <a href="http://scholar.google.com/scholar?as_publication=Privacy Enhancing Technologies&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://petsymposium.org/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=69">HotPETs</a></td> 
<td>21 - 23 Jul 2010 </td> 
<td><a href="http://petsymposium.org/2010/hotpets.php" target="_blank">Berlin, DE</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Hot Topics in Privacy Enhancing Technologies&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td></tr> 
<tr> 
<td><a href="conference?id=81">ASA</a></td> 
<td>21 Jul 2010</td> 
<td><a href="http://www.lsv.ens-cachan.fr/~steel/asa4/" target="_blank">Edinburgh, Scotland, UK</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Analysis of Security APIs&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://homepages.inf.ed.ac.uk/gsteel/asa/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=83">CSF</a></td> 
<td>17 - 19 Jul 2010 </td> 
<td><a href="http://www.floc-conference.org/" target="_blank">Edinburgh, Scotland, UK</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=IEEE Computer Security Foundations Symposium&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.ieee-security.org/CSFWweb/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=41">SOUPS</a></td> 
<td>14 - 16 Jul 2010 </td> 
<td><a href="http://cups.cs.cmu.edu/soups/2010/" target="_blank">Redmond, WA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Symposium On Usable Privacy and Security&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://cups.cs.cmu.edu/soups/" target="_blank">permalink</a></td></tr> 
<tr> 
<td><a href="conference?id=101">CEAS</a></td> 
<td>13 - 14 Jul 2010 </td> 
<td><a href="http://www.ceas.cc/2010/" target="_blank">Redmond, WA, US</a></td> 
<td><a href="http://scholar.google.com/scholar?as_publication=Collaboration, Electronic messaging, Anti-Abuse and Spam Conference&as_ylo=2010&as_yhi=2010" target="_blank">scholar.google.com</a></td><td><a href="http://www.ceas.cc/" target="_blank">permalink</a></td></tr> 
	</tbody> 
</table> 
</div> 
 
<a name="maintainer"></a> 
<h2>Maintainence</h2> 
<p> 
This service is maintained by <a href="http://www.cl.cam.ac.uk/~jra40/">Jonathan Anderson</a>. You can contact me by e-mailing [my first name].[my last name]@cl.cam.ac.uk.
</p> 
 
-->
{% endblock %}
