{% extends "base.html" %}

{% import "edit/controls.html" as controls %}

{% block title %}
{{ conference.abbreviation }}
{% endblock %}

{% block content %}
<div class="block">
	<h2>{{ conference.name }}</h2>

	<form action="update_conference" method="post">
		<input type="hidden" name="id" value="{{ conference.conference }}"/>
		<input type="hidden" name="abbrev" value="{{ conference.abbreviation }}"/>

		<table>
			<tbody>
				<tr>
					<td>Type</td>
					<td>{{
						controls.select("type", meeting_types, conference.type_id)
					}}</td>
				</tr>
				<tr>
					<td>Parent</td>
					<td>{{
						controls.select("parent", conferences, conference.parent)
					}}</td>
				</tr>
				<tr>
					<td>URL</td>
					<td>{{ controls.textbox('url', conference.url, 60) }}</td>
				</tr>
				<tr>
					<td>Tags</td>
					<td>
						{{ controls.textbox('tags', ', '.join(conference.tags), 60) }}
					</td>
				</tr>
				<tr>
					<td></td>
					<td>({{ ' | '.join(all_tags) }})</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>
						{{ controls.textarea('desc', conference.description, 6, 80) }}
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="Update Conference"/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>

</div>


<table class="conferences"> 
	<thead> 
		<tr> 
			<th rowspan="2">Start</th> 
			<th rowspan="2">End</th> 
			<th rowspan="2">Location</th> 
			<th colspan="3">Deadlines</th> 
			<th rowspan="2">URL</th>
			<th rowspan="2">Proceedings</th>
		</tr> 
		<tr>			
			<th>Papers</th> 
			<th>(extended)</th>
			<th>Posters</th> 
		</tr> 
	</thead> 
	<tbody>
		<tr>
			<form action="create_event" method="post">
				<input type="hidden" name="conference" value="{{
					conference.conference }}"/>
				<input type="hidden" name="abbreviation" value="{{
					conference.abbreviation }}"/>
				<td>{{ controls.textbox('start', None, 10) }}</td>
				<td>{{ controls.textbox('end', None, 10) }}</td>
				<td>{{ controls.select('location', locations, None) }}</td>
				<td>{{ controls.textbox('deadline', None, 10) }}</td>
				<td>{{ controls.textbox('extended', None, 10) }}</td>
				<td>{{ controls.textbox('poster', None, 10) }}</td>
				<td>{{ controls.textbox('url', None, 40) }}</td>
				<td>{{ controls.textbox('proc', None, 40) }}</td>
				<td><input type="submit" value="Create"/></td>
			</form>
		</tr>

		{% for e in events %}
			<form action="update_event" method="post">
				<input type="hidden" name="conference" value="{{ e.abbreviation }}"/>
				<input type="hidden" name="id" value="{{ e.instance }}"/>
				<tr>
					<td>{{ controls.textbox('start', e.startDate, 10) }}</td>
					<td>{{ controls.textbox('end', e.endDate, 10) }}</td>
					<td>
						{{ controls.select('location', locations, e.location_id) }}
					</td>
					<td>{{ controls.textbox('deadline', e.deadline, 10) }}</td>
					<td>
						{{ controls.textbox('extended', e.extendedDeadline, 10) }}
					</td>
					<td>{{ controls.textbox('poster', e.posterDeadline, 10) }}</td>
					<td>{{ controls.textbox('url', e.url, 40) }}</td>
					<td>{{ controls.textbox('proc', e.proceedings, 40) }}</td>
					<td><input type="submit" value="Update"/></td>
				</tr>
			</form>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

