{% macro hidden(name, value) %}
<input type="hidden" name="{{ name }}" value="{{ value if value }}"/>
{% endmacro %}

{% macro textbox(name, value, size = 10, readonly = False) %}
<input name="{{ name }}" value="{{ value if value }}" size="{{ size }}" {%
	if readonly %} readonly="readonly"{% endif %}/>
{% endmacro %}

{% macro textarea(name, value, height = 4, width = 60) %}
<textarea name="{{ name }}" rows="{{ height }}" cols="{{ width }}">{{
	value if value
}}</textarea>
{% endmacro %}

{% macro select(name, options, current_id) %}
<select name="{{ name }}">
	{% for (id, text) in options %}
		<option value="{{ id }}" {{ "selected" if id == current_id }}>
			{{ text }}
		</option>
	{% endfor %}
</select>
{% endmacro %}
