{% extends "base.html" %}

{% block content %}
<div class="block">
	<h2>Simple tables</h2>
	<p>
	These are database tables that can be edited as plain text.
	</p>
	<ul>
		{% for name in simple_tables %}
		<li><a href="edit/simple/{{ name }}">{{ name }}</a></li>
		{% endfor %}
	</ul>

	<h2>Recent (and not-so-recent) conference instances</h2>
	<p>
		<a href="/most_recent">/most_recent</a> shows which conferences have
		their next instance in the future (so we're up-to-date), the recent
		past (so they probably haven't announced a CFP), the not-so-recent
		past (so we're probably behind) and the distant past (so they've
		probably died).
	</p>

	<h2>Conferences</h2>
	<ul>
		{% for conf in conferences %}
			<li>
				<a href="edit/conference/{{ conf.abbreviation }}">
					{{ conf.abbreviation }} &mdash; {{ conf.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

