{% extends "base.html" %}

{% import 'event.html' as event %}

{% block title %}
{{ conference.abbreviation }}: {{ conference.name }}
{% endblock %}

{% block content %}
<div class="block">
<h2>
{{ conference.abbreviation }}
{% if conference.url %}
(<a href="{{ conference.url }}">{{ conference.url }}</a>)
{% endif %}
</h2>

{% if conference.tags %}
<p class="tags">{{ ' | '.join(conference.tags) }}</p>
{% endif %}

{% if conference.parent %}
<p>
Affiliated with
<a href="{{ conference.parent.abbreviation }}">{{ conference.parent.name }}</a>.
</p>
{% endif %}

<p>{{ conference.description if conference.description }}</p>

</div>
{{ event.event_table(events, show_proceedings = True) }}
 
{% endblock %}

