<!--
Render an event as a table row, possibly including deadlines and proceedings.
-->
{%
macro event_row(event, show_deadlines, show_proceedings, utils = None)
%}
<tr>
	{% set deadline = (
		event.extendedDeadline if event.extendedDeadline else event.deadline) %}

	{% if show_deadlines %}
	<td class="{{ utils.soonness(deadline) }}">
		{% if event.extendedDeadline %}
		{{ event.format_deadline("extended") }}
		<br/>
		<strike>
		{% endif %}

		{{ event.format_deadline() }}

		{% if event.extendedDeadline %}
		</strike>
		{% endif %}
	</td>
	<td class="{{ utils.soonness(event.posterDeadline) }}">
		{{ event.format_deadline("poster") }}
	</td>
	{% endif %}
	<td>
		<a href="conference/{{ event.abbreviation }}">
			{{ event.abbreviation }}
		</a>
	</td>
	<td>{{ event.when() }}</td>
	<td>
		{% if event.url %}
			<a href="{{ event.url }}" target="_blank">
		{% endif %}
		{{ event.where() }}
		{% if event.url %}</a>{% endif %}
	</td>
	{% if show_proceedings %}
		<td>
			{% if event.proceedings %}
				<a href="{{ event.proceedings }}">
					{{ event.proceedings_site() }}
				</a>
				|
			{% endif %}
			<a href="http://scholar.google.com/scholar?as_publication={{ event.name }}&as_ylo={{ event.startDate.year }}&as_yhi={{ event.endDate.year }}" target="_blank">
				scholar.google.com
			</a>
		</td>
	{% endif %}
</tr>
{% endmacro %}


{%
macro event_table(
	events, show_deadlines = False, show_proceedings = False, utils = None)
%}
{% set header_extra = ' rowspan="2"' if show_deadlines else '' %}
<table class="conferences"> 
	<thead> 
		<tr> 
			{% if show_deadlines %}
			<th colspan="2">Deadlines</th> 
			{% endif %}
			<th{{ header_extra}}>Event</th> 
			<th{{ header_extra}}>Date(s)</th> 
			<th{{ header_extra}}>Location</th> 
			{% if show_proceedings %}
			<th{{ header_extra}}>Proceedings</th>
			{% endif %}
		</tr> 
		{% if show_deadlines %}
		<tr>			
			<th>Papers</th> 
			<th>Posters</th> 
		</tr> 
		{% endif %}
	</thead> 
	<tbody>
		{% for event in events %}
			{{
				event_row(
					event, show_deadlines, show_proceedings, utils = utils)
			}}
		{% endfor %}
	</tbody>
</table>
{% endmacro %}

