{% extends "base.html" %}

{% import 'event.html' as event %}

{% block footer %}
	<span class="filters"> 
		{{ ' | '.join(tags) if tags else 'none' }}
		(<a href="preferences#filters">change my filters</a>)
	</span> 
	{{ super() }}
{% endblock %}


{% block content %}
<div class="ical"> 
	<img align="left" src="static/vcalendar-small.png"/> 
	&#160;&#160;iCalendar format (no filters):
	<br/> 
	&#160;&#160;<a href="conferences.ics">conference dates</a> 
	|
	<a href="deadlines.ics">deadlines</a> 
</div> 
 
<a name="deadlines"></a> 
<h2>Upcoming Deadlines</h2> 
{{ event.event_table(deadlines, show_deadlines = True, utils = utils) }}
 
 
<a name="upcoming"></a> 
<h2>Upcoming Conferences</h2>
{{ event.event_table(upcoming) }}
 
 
<a name="recent"></a> 
<h2>Recent Conferences</h2> 
{{ event.event_table(recent, show_proceedings = True) }}
 
{% endblock %}

